@{
    ViewData["Title"] = "Datamaps";
}
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">Basic Map</div>
        <div class="panel-body">
            <div id="datamap-basic"></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Customized Arc Map</div>
        <div class="panel-body">
            <div id="datamap-arc"></div>
        </div>
    </div>
</div>
