extends user.layout
block content
    .container-full
        .container.container-xs
            img.mv-lg.block-center.img-responsive.thumb64(src="img/logo.png")
            form.card.b0.form-validate#user-login(action="", name="loginForm", novalidate='')
                .card-offset.pb0
                    .card-offset-item.text-right
                        a.btn-raised.btn.btn-info.btn-circle.btn-lg(href="signup.html")
                            em.ion-person-add
                    .card-offset-item.text-right.hidden
                        .btn.btn-success.btn-circle.btn-lg
                            em.ion-checkmark-round
                .card-heading
                    .card-title.text-center Login
                .card-body
                    .mda-form-group.float-label.mda-input-group
                        .mda-form-control
                            input.form-control(type='email', name="accountName", required="")
                            .mda-form-control-line
                            label Email address
                        span.mda-input-group-addon
                            em.ion-ios-email-outline.icon-lg
                    .mda-form-group.float-label.mda-input-group
                        .mda-form-control
                            input.form-control(type='password', name="accountPassword", required="")
                            .mda-form-control-line
                            label Password
                        span.mda-input-group-addon
                            em.ion-ios-locked-outline.icon-lg
                button.btn.btn-primary.btn-flat(type="submit") Authenticate
            .text-center.text-sm
                a.text-inherit(href="recover.html") Forgot password?
