<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
<TITLE>404 Not Found</TITLE>
<script type="text/javascript" src="/template/tint/js/jquery-1.10.2.min.js"></script>
<style>
    BODY{background:#f1f1f1;}
.content {width:800px; height:540px; margin:50px auto; background:#fff url('/template/tint/images/bg_404.jpg') no-repeat; border:solid 1px #e1e1e1; box-shadow:0px 5px 20px #ccc; position:relative;}
.content a{display:block; position:absolute; top:375px; left:380px; width:49px; height:12px; background:url('/template/tint/images/back_404.png') no-repeat;}
</style>
</HEAD>
<BODY>

<div class="content">
<a href="/"></a>
</div>
<script type="text/javascript">
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };
    $(document).ready(function () {
        var aspxerrorpath = window.location.pathname;
        var aspxnewspath = "/trang-chu.html";
        switch (aspxerrorpath) {
            case "/m/services/supply-chain-services/-services-1901": 
                {
                    aspxnewspath = "/services/heavy-cargo-transportation-and-lifting-services.html";
                    break;
                }
            default:
                {
                    aspxnewspath = "/trang-chu.html";
                }
        }
        //alert(aspxerrorpath + ' new ' + aspxnewspath);
        window.location.replace(aspxnewspath);
    });
</script>
</BODY></HTML>




























































































































































































































































