.main-nav .branding__menu> li.no_sub> a:after{
    content: "";
}
._hidden {
    display: none
}
.cate-on-slide { position: relative; }
.cate-on-slide .cycle-prev, .cate-on-slide .cycle-next {
    position: absolute;
    top: 50%;
    display: none;
    width: 36px;
    height: 66px;
    line-height: 80px;
    margin-top: -33px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
    text-align: center;
    cursor: pointer;
}
.cate-on-slide .cycle-prev .icon-arr-left, .cate-on-slide .cycle-next .icon-arr-right {

    width: 13px;
    height: 25px;
    display: inline-block;
}
.cate-on-slide .cycle-prev {
    left: 0px;
}
.cate-on-slide .cycle-next {
    right: 0px;
}
.cate-on-slide .cycle-prev .icon-arr-left {
    background-position: -199px -60px;
}
.cate-on-slide .cycle-next .icon-arr-right {
    background-position: 0px -127px;
}
.cate-on-slide:hover .cycle-prev { display: block;}
.cate-on-slide:hover .cycle-next { display: block;}
.cycle-pager { text-align: right; width: 100%; z-index: 500; top: 10px; overflow: hidden; padding-top: 8px;}
.cycle-pager span { font-size: 40px; width: 16px; height: 16px; display: inline-block; color: #ddd; line-height: 10px;}
.cycle-pager span.cycle-pager-active { color: #70be10;}
.cycle-pager > * { cursor: pointer;}

._red {
    color: red
}
.box__content {
    padding: 1em 2em 
}
.project-title a{
    text-decoration: none
}
.wysiwyg table {
    width: 100% !important;
    margin-bottom: 2em;
}
#logo img {
    
width: 15em;
    
margin-top: -1em;
}

.like-fb {
    width: 20%;
    float: left;
}
.addthis {
    width: 75%;
    float: left;
    margin-top: 9px
}
