extends ../core/core.layout
block pagetitle
    - pageTitle = 'Grid Masonry'
block content
        .container.container-md
            .grid
                .grid-sizer
                .grid-item
                    .photo
                        .photo-wrapper
                            img.img-responsive.fw(src='img/user/01.jpg', alt="user image")
                            .photo-loader
                                .sk-spinner.sk-spinner-rotating-plane
                        .photo-description
                            h3 Awesome large photo
                            p Nice photo, eh.
                .grid-item
                    .photo
                        .photo-wrapper
                            img.img-responsive.fw(src='img/user/02.jpg', alt="user image")
                            .photo-loader
                                .sk-spinner.sk-spinner-rotating-plane
                        .photo-description
                            h3 Great user photo
                            p Nice photo, eh.
                .grid-item
                    .photo
                        .photo-wrapper
                            img.img-responsive.fw(src='img/user/03.jpg', alt="user image")
                            .photo-loader
                                .sk-spinner.sk-spinner-rotating-plane
                        .photo-description
                            h3 Silly photo
                            p Nice photo, eh.
                .grid-item
                    .photo
                        .photo-wrapper
                            img.img-responsive.fw(src='img/user/04.jpg', alt="user image")
                            .photo-loader
                                .sk-spinner.sk-spinner-rotating-plane
                        .photo-description
                            h3 Is this a photo?
                            p Nice photo, eh.
                .grid-item
                    .photo
                        .photo-wrapper
                            img.img-responsive.fw(src='img/user/05.jpg', alt="user image")
                            .photo-loader
                                .sk-spinner.sk-spinner-rotating-plane
                        .photo-description
                            h3 What a photo man!
                            p Nice photo, eh.
                .grid-item
                    .photo
                        .photo-wrapper
                            img.img-responsive.fw(src='img/user/02.jpg', alt="user image")
                            .photo-loader
                                .sk-spinner.sk-spinner-rotating-plane
                        .photo-description
                            h3 Silly photo
                            p Nice photo, eh.
                .grid-item
                    .photo
                        .photo-wrapper
                            img.img-responsive.fw(src='img/user/01.jpg', alt="user image")
                            .photo-loader
                                .sk-spinner.sk-spinner-rotating-plane
                        .photo-description
                            h3 Weird photo
                            p Nice photo, eh.
                .grid-item
                    .photo
                        .photo-wrapper
                            img.img-responsive.fw(src='img/user/04.jpg', alt="user image")
                            .photo-loader
                                .sk-spinner.sk-spinner-rotating-plane
                        .photo-description
                            h3 Bumpy photo
                            p Nice photo, eh.
