extends ../core/core.layout
block pagetitle
    - pageTitle = 'Datamaps'
block content
    .container-fluid
        .panel.panel-default
            .panel-heading Basic Map
            .panel-body
                div#datamap-basic

        .panel.panel-default
            .panel-heading Customized Arc Map
            .panel-body
                div#datamap-arc
