.modal.modal-top.fade.modal-search(tabindex='-1', role='dialog')
    .modal-dialog
        .modal-content
            .modal-body
                .pull-left
                    button.btn.btn-flat(type='button', data-dismiss='modal')
                        em.ion-arrow-left-c.icon-24
                .pull-right
                    button.btn.btn-flat(type='button')
                        em.ion-android-microphone.icon-24
                form.oh(action="#")
                    .mda-form-control.pt0
                        input.form-control.header-input-search(type='text', placeholder='Search..', data-localize="header.SEARCH")
                        .mda-form-control-line
